/* Write your global styles here, in PostCSS syntax */
@tailwind base;

body {
    @apply bg-sky-100 font-sans text-gray-700;
}

@tailwind components;

.btn {
}

.input[type='text'] {
}

.input[type='checkbox'] {
}

@tailwind utilities;
